* {
    box-sizing: border-box;
}

body {
    background-color: #F4D04E;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1.5rem;
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
    color: #111111;
}


.card-preview {
    background-color: white ;
    border: 1px solid #111111;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: auto;
    box-shadow: 10px 10px 2px 1px #111111;
}

.preview-img {
    border-radius: 15px;
    object-fit: cover; 
    height: 200px;
    width: 100%;
    align-self: center;
}
.article-tag {
    font-size: 14px;
    font-weight: bold;
    display: block;
    background-color: #F4D04E;
    padding: 8px 15px;
    margin-top: 20px;
    border-radius: 10%;
}

.article-title {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.article-content {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #6b6b6b;
    margin-top: 0;
}

.author {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    margin-right: 10px;
}
.author p {
    font-family: 'Figtree';
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0px;
}

footer {
    margin: 30px;
}